<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--一个mapper对应一个接口,( namespace )-->
<mapper namespace="com.kk.dao.BookMapper">
    <insert id="addBook" parameterType="books">
        insert into books(bookName,counts,detail)
        values(#{bookName},#{counts},#{detail});
    </insert>

    <delete id="deleteBook" parameterType="int">
        delete from books where id=#{id};
    </delete>

    <update id="updateBook" parameterType="books">
        update books
        set bookName=#{bookName},counts=#{counts},detail=#{detail}
        where id=#{id};
    </update>

    <select id="queryById" parameterType="int" resultType="books">
        select * from books where id=#{id};
    </select>

    <select id="queryAllBook" resultType="books">
        select * from books
    </select>

    <select id="fyAllBook" resultType="books">
        select * from books
    </select>

</mapper>